
scripts/.ipynb_checkpoints/2018-02-13-gastos-deputados-sp-checkpoint.ipynb
scripts/.ipynb_checkpoints/2018-02-24-gastos-deputados-sp-checkpoint.ipynb
scripts/.ipynb_checkpoints/alesp_comissao_permanente_deliberacao-checkpoint.py
scripts/.ipynb_checkpoints/alesp_comissao_membro-checkpoint.py
scripts/.ipynb_checkpoints/alesp_deputado_gasto-checkpoint.py
scripts/.ipynb_checkpoints/alesp_funcionario_lotacao-checkpoint.py
scripts/.ipynb_checkpoints/scraper_alesp_gastos_gabinetes-checkpoint.py
